#grid{
  border-collapse: collapse;
  font-size: 3em;
  width:100%;
  background: #fff5d1;
}

tr {
  border: solid;
  border-width: 1px 0;
}

td{
  padding: 0.4em;
  text-align: left;

}

tr:first-child {
  border-top: solid 5px;
}
tr:last-child {
  border-bottom: solid 5px;
}

#navigation-wrapper{
  font-size: 3em;
  text-align: center;
}

#prev-page{
  margin-right : 10%;
}
#next-page{
  margin-left : 10%;

}
